.footer-container {
  background-color: #181a1c;
  padding: 6px 0; 
  text-align: center;
  color: #898989;
  font-size: 15px;

}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Copyright {
  font-weight: 700;
  margin-bottom: 5px; 
}

.creador p {
  font-size: 15px;
  font-weight: 500; 
  margin: 0;
}

.creador-link {
  color: #0077b5; /* Color azul típico de LinkedIn */
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}

.creador-link:hover {
  color: #00548f; 
}
