.titulo_marcas {
  display: flex;
  justify-content: center;
  margin: 20px 0px; /* Espacio superior */
}

.tit {
  width: 310px;
}

.titulo_marcas h1 {
  color: rgba(209, 38, 25, 0.829);
  font-size: 35px;
  max-width: 350px;
  padding: 0px 5px;
  line-height: 39px;
  text-transform: uppercase;
  /* Estilos adicionales para resaltar el título */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.titulo_destacado {
  color: #d42329; /* Color del texto */
  font-size: 35px;
  max-width: 350px;
  padding: 10px 20px; /* Espaciado interno */
  line-height: 39px;
  text-transform: uppercase;
  background-color: #fff; /* Color de fondo */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombreado */
  text-align: center; /* Centrar el texto */
  transition: transform 0.2s, box-shadow 0.2s; /* Transiciones suaves */
}



.marcas {
  background-color: white;
}

.marca {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  min-height: 60vh;
  padding: 10px 13px;
}
